@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #2c5282;
  --light-blue: #ebf8ff;
  --text-color: #333333;
  --white: #ffffff;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
