fastapi
uvicorn
google-generativeai
requests
beautifulsoup4
lxml
passlib[bcrypt]
bcrypt==3.2.0
python-jose
python-multipart
python-dotenv
openai>=1.40.0
PyMySQL
python-docx
PyPDF2
pdfplumber
PyMuPDF
pytesseract
Pillow
imgkit
pydantic-settings